# Static link the C runtime on Windows MSVC to avoid MSVCP140.dll dependency
# This ensures users don't need to install Visual C++ Redistributable
[target.x86_64-pc-windows-msvc]
rustflags = ["-C", "target-feature=+crt-static"]

[target.i686-pc-windows-msvc]
rustflags = ["-C", "target-feature=+crt-static"]

[target.aarch64-pc-windows-msvc]
rustflags = ["-C", "target-feature=+crt-static"]
